body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* binding the animation */
    animation: dj 6s infinite;
}
div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    /* binding the animation */
    /* animation-name: demo ;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 10;
    animation-direction: alternate;
    animation-timing-function: linear;     */
    animation: dj 6s linear infinite;
}
div i{
    font-size: 80px;
    color: red;
}

/* creating an animation */
@keyframes demo {
    from{
        transform: rotate(0deg);
        background-color: aqua;
    }
    to{
        transform: rotate(360deg);
        background-color: blue;
    }
}

/*  creating an animation  */
@keyframes dj {
    0%{
        background-color: aqua;
    }
    20%{
        background-color: yellow;
    }
    40%{
        background-color: chartreuse;
    }
    60%{
        background-color: deeppink;
    }
    80%{
        background-color: darkred;
    }
    100%{
        background-color: darkorange;
    }
} 