*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav_blk{
    background-color: whitesmoke;
    padding: 0px 20px;
    /* border: 2px solid red; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav_blk .left_nav_blk{
    /* border: 2px solid green; */
}

#nav_blk .left_nav_blk h1{
    background-color: rgb(251, 226, 86);
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav_blk .right_nav_blk{
    /* border: 2px solid green; */
    height: inherit;
    width: 60%;
}

#nav_blk .right_nav_blk ul{
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

#nav_blk .right_nav_blk ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav_blk .right_nav_blk ul li a:hover{
    opacity: 0.5;
}

#body_blk{
    /* border: 2px solid black; */
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://as1.ftcdn.net/v2/jpg/01/43/67/38/1000_F_143673890_LYWPkrlhHBjqg3fUHRGn4Iw7szis4SCF.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#body_blk .form_blk{
    height: 400px;
    width: 700px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#body_blk .form_blk h1{
    font-size: 50px;
}
#body_blk .form_blk .input_blk{
    height: 70px;
    width: inherit;
    position: relative;
}
#body_blk .form_blk .input_blk i{
    position: absolute;
    left: 18px;
    top: 24px;
    font-size: 20px;
}
#body_blk .form_blk .input_blk  input{
    height: 70px;
    width: 100%;
    padding: 20px 50px;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
}

#body_blk .form_blk button{
    height: 70px;
    width: inherit;
    font-size: 30px;
    border-radius: 8px ;
    border: none;
    background-color: rgb(255, 218, 9);
}


#services_blk{
    /* border: 2px solid; */
    padding: 20px;
    width: 100%;
    height: max-content;
}
#services_blk h1{
    font-size: 45px;
    font-family: sans-serif;
    padding: 20px;
    text-decoration: 2px underline orange;
}

#services_blk .img_blk{
    height: max-content;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#services_blk .img_blk .service{
    /* border: 1px solid blue; */
    height: 150px;
    width: 250px;
    margin: 10px;
}   
#services_blk .img_blk .service img{
    height: 100px;
    width: 150px;
}
#services_blk .img_blk .service p{
    font-size: 25px;
    font-family: sans-serif;
    text-transform: capitalize;
    margin: 5px 30px;
}
 